/* Variables & Imports */
@import url('https://fonts.googleapis.com/css?family=Aldrich');

$splash-bg: #FFF;
$header-font: Aldrich;

/* Rules */
body {
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

.page-flexbox-wrapper {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.brand-logo {
	margin-left: 20px;
}
.row {
  margin: 0px;
}

#splash-content {
  background-color: $splash-bg;
  // background-image: url("/images/code-background.jpeg");
  background-size: cover;
  height: 100vh;
  justify-content: center;
  #splash-header {
    font-family: $header-font;
    margin-top: 50vh;
    height: 100vh;
    justify-content: center;
    h1 {
      animation-delay: .4s;
    }
    h5 {
      animation-delay: .8s;
    }
    #header-down-arrow-icon,
    a i.medium.material-icons {
      animation-delay: 1.5s;
      margin-top: 30vh;
      margin-left: 20%;
      justify-content: center;
    }
  }
}

footer.page-footer {
  margin-top: 0px;
}
